@page "/diagnoses"
@inherits OwningComponentBase<IDiagnosisRepository>
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IAppointmentRepository AppointmentService

<PageTitle>Diagnoses</PageTitle>

<div class="d-flex justify-content-between pb-5">
    <h1>Диагнозы</h1>
    <button type="button" class="btn btn-dark"
    data-bs-toggle="modal"
    data-bs-target="#diagnoseModal">
        <i class="bi bi-plus-lg"></i>
        Добавить
    </button>
    <div class="modal fade" id="diagnoseModal" tabindex="-1" aria-labelledby="diagnoseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="diagnoseModalLabel">Сведения о Диагнозе</h5>
                </div>
                <EditForm Model="ModelDiagnose" OnValidSubmit="InsertObjAsync" FormName="DiagnoseForm">
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Номер приёма</td>
                                <td>
                                    <input type="number" class="form-control" list="Appointments" @bind="SearchAppointmentId" @bind:event="oninput" @bind:after="SearchAppointment" />
                                    <datalist class="col-4" id="Appointments">
                                        @if (appointments != null)
                                        {
                                            @foreach (var appointment in appointments)
                                            {
                                                <option value="@appointment.AppointmentId"></option>
                                            }
                                        }
                                    </datalist>
                                </td>
                            </tr>
                            <tr>
                                <td>Код(МКБ-10)</td>
                                <td><InputText class="form-control" @bind-Value="ModelDiagnose!.DiagnosisCode" /></td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td><InputText class="form-control" @bind-Value="ModelDiagnose!.Description" /></td>
                            </tr>
                            <tr>
                                <td>Рекомендации</td>
                                <td><InputText class="form-control" @bind-Value="ModelDiagnose!.Recommendations" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-black" data-bs-dismiss="modal" @onclick="Discard">Закрыть</button>
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Сохранить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@if (diagnoses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table border">
        <thead>
            <tr>
                @foreach (var head in headers)
                {
                    <th>
                        <button class="btn" @onclick="@(async () => await SortByColumnHead(head))">
                            @head
                            @if (currentSortColumn == head)
                            {
                                <span>@(sorted ? "↑" : "↓")</span>
                            }
                        </button>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var diagnose in pageddiagnoses)
            {
                <tr @key="diagnose.DiagnosisId">
                    <td class="align-middle">@diagnose.DiagnosisId</td>
                    <td class="align-middle">@diagnose.AppointmentId</td>
                    <td class="align-middle">@diagnose.DiagnosisCode</td>
                    <td class="align-middle">@diagnose.Description</td>
                    <td class="align-middle">@diagnose.Recommendations</td>
                    <td>
                        <button type="button"
                        @onclick="@(async () => await DetailsObjAsync(diagnose.DiagnosisId))"
                        class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#diagnoseModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button"
                        @onclick="@(async () => await DeleteObjAsync(diagnose.DiagnosisId))"
                        class="btn trash">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">Предыдущая</button>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                var page = i;
                <li class="page-item @(currentPage == page ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(page)">@i</button>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">Следующая</button>
            </li>
        </ul>
    </nav>
}

@code {
    private IEnumerable<Entities.Diagnosis>? diagnoses;
    private IEnumerable<Diagnosis>? pageddiagnoses;
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalPages;
    private List<string> headers = ["ID", "Номер приёма", "Код(МКБ-10)", "Описание", "Рекомендации", "Действия"];
    [SupplyParameterFromForm(FormName = "DiagnoseForm")]
    public Entities.Diagnosis? ModelDiagnose { get; set; }
    private IEnumerable<Appointment>? appointments;
    private bool sorted;
    private string currentSortColumn;

    private int SearchAppointmentId = 0;

    protected override async Task OnInitializedAsync()
    {
        ModelDiagnose ??= new();
        ModelDiagnose!.DiagnosisId = 0;
        diagnoses = await Service.GetAllAsync();
        appointments = await AppointmentService.GetAllAsync();
        UpdatePagedData();
    }

    private void Discard()
    {
        ModelDiagnose = new();
        SearchAppointmentId = 0;
    }
    private async Task InsertObjAsync()
    {
        if (!IsAnyNullOrEmpty(ModelDiagnose))
        {
            if (ModelDiagnose!.DiagnosisId == 0)
            {
                await Service.AddAsync(ModelDiagnose);
            }
            else { await Service.UpdateAsync(ModelDiagnose); }
            diagnoses = await Service.GetAllAsync();
            UpdatePagedData();
        }
        Discard();
    }

    private async Task DetailsObjAsync(int Id)
    {
        ModelDiagnose = await Service.GetByIdAsync(Id);
        SearchAppointmentId = ModelDiagnose.AppointmentId;
    }

    private async Task DeleteObjAsync(int Id)
    {
        await Service.DeleteAsync(Id);
        diagnoses = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private async Task SearchAppointment()
    {
        var appointment = appointments.Where(e => e.AppointmentId == SearchAppointmentId).FirstOrDefault();
        if (appointment != null) { ModelDiagnose.AppointmentId = appointment.AppointmentId; }
    }

    private void UpdatePagedData()
    {
        totalPages = (int)Math.Ceiling((double)diagnoses.Count() / pageSize);
        if (currentPage < 1) currentPage = 1;
        if (currentPage > totalPages) currentPage = totalPages;

        int startIndex = (currentPage - 1) * pageSize;
        pageddiagnoses = diagnoses.Skip(startIndex).Take(pageSize);
    }

    private void ChangePage(int newPage)
    {
        currentPage = newPage;
        UpdatePagedData();
    }

    private async Task SortByColumnHead(string column)
    {
        currentSortColumn = column;
        if (!sorted)
        {
            var sortedList = await Service.SortByColumn(column, "ASC");
            if (sortedList != null)
            {
                diagnoses = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
        else
        {
            var sortedList = await Service.SortByColumn(column, "DESC");
            if (sortedList != null)
            {
                diagnoses = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
    }
}