@page "/employees"
@inherits OwningComponentBase<IEmployeeRepository>
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Employees</PageTitle>

<div class="d-flex justify-content-between pb-5">
    <h1>Приёмы</h1>
    <button type="button" class="btn btn-dark"
    data-bs-toggle="modal"
    data-bs-target="#employeeModal">
        <i class="bi bi-plus-lg"></i>
        Добавить
    </button>
    <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeModalLabel">Сведения о Приёме</h5>
                </div>
                <EditForm Model="ModelEmployee" OnValidSubmit="InsertObjAsync" FormName="EmployeeForm">
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>ФИО</td>
                                <td><InputText class="form-control" @bind-Value="ModelEmployee!.FullName" /></td>
                            </tr>
                            <tr>
                                <td>Специализация</td>
                                <td><InputText class="form-control" @bind-Value="ModelEmployee!.Specialization" /></td>
                            </tr>
                            <tr>
                                <td>Номер лицензии</td>
                                <td><InputText class="form-control" @bind-Value="ModelEmployee!.LicenseNumber" /></td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td><InputText class="form-control" @bind-Value="ModelEmployee!.Phone" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-black" data-bs-dismiss="modal" @onclick="Discard">Закрыть</button>
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Сохранить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex p-2">
       <div>
            <label for="Names" class="form-label">Поиск по ФИО</label>
            <input class="form-control" id="Names" placeholder="Введите имя..." @bind="EmployeeName" @bind:event="oninput" @bind:after="SearchByEmployeeName">
       </div>
       <div>
            <label for="Specialization" class="form-label">Поиск по специальности</label>
            <input class="form-control" id="Specialization" placeholder="Введите специальность..." @bind="Specialization" @bind:event="oninput" @bind:after="SearchBySpecialization">
       </div>
       <div>
            <label for="License" class="form-label">Поиск по номеру лицензии</label>
            <input class="form-control" id="License" placeholder="Введите номер лицензии..." @bind="License" @bind:event="oninput" @bind:after="SearchByLicense">
       </div>
    </div>

    <table class="table border">
        <thead>
            <tr>
                @foreach (var head in headers)
                {
                    <th>
                        <button class="btn" @onclick="@(async () => await SortByColumnHead(head))">
                            @head
                            @if (currentSortColumn == head)
                            {
                                <span>@(sorted ? "↑" : "↓")</span>
                            }
                        </button>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in pagedemployees)
            {
                <tr @key="employee.EmployeeId">
                    <td class="align-middle">@employee.EmployeeId</td>
                    <td class="align-middle">@employee.FullName</td>
                    <td class="align-middle">@employee.Specialization</td>
                    <td class="align-middle">@employee.LicenseNumber</td>
                    <td class="align-middle">@employee.Phone</td>
                    <td>
                        <button type="button"
                        @onclick="@(async () => await DetailsObjAsync(employee.EmployeeId))"
                        class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#employeeModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button"
                        @onclick="@(async () => await DeleteObjAsync(employee.EmployeeId))"
                        class="btn trash">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">Предыдущая</button>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                var page = i;
                <li class="page-item @(currentPage == page ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(page)">@i</button>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">Следующая</button>
            </li>
        </ul>
    </nav>
}

@code {
    private IEnumerable<Entities.Employee>? employees;
    private IEnumerable<Employee>? pagedemployees;
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalPages;
    private List<string> headers = ["ID", "ФИО", "Специализация", "Номер лицензии", "Телефон", "Действия"];
    [SupplyParameterFromForm(FormName = "EmployeeForm")]
    public Entities.Employee? ModelEmployee { get; set; }
    private bool sorted;
    private string currentSortColumn;

    private string EmployeeName = "";
    private string License = "";
    private string Specialization = "";

    protected override async Task OnInitializedAsync()
    {
        ModelEmployee ??= new();
        ModelEmployee!.EmployeeId = 0;
        employees = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void Discard()
    {
        ModelEmployee = new();
    }
    private async Task InsertObjAsync()
    {
        if (!IsAnyNullOrEmpty(ModelEmployee)) {
            if (ModelEmployee!.EmployeeId == 0)
            {
                await Service.AddAsync(ModelEmployee);
            }
            else { await Service.UpdateAsync(ModelEmployee); }
            employees = await Service.GetAllAsync();
            UpdatePagedData();
        }
        Discard();
    }

    private async Task DetailsObjAsync(int Id)
    {
        ModelEmployee = await Service.GetByIdAsync(Id);
    }

    private async Task DeleteObjAsync(int Id)
    {
        await Service.DeleteAsync(Id);
        employees = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void UpdatePagedData()
    {
        totalPages = (int)Math.Ceiling((double)employees.Count() / pageSize);
        if (currentPage < 1) currentPage = 1;
        if (currentPage > totalPages) currentPage = totalPages;

        int startIndex = (currentPage - 1) * pageSize;
        pagedemployees = employees.Skip(startIndex).Take(pageSize);
    }

    private void ChangePage(int newPage)
    {
        currentPage = newPage;
        UpdatePagedData();
    }

    private async Task SortByColumnHead(string column)
    {
        currentSortColumn = column;
        if (!sorted)
        {
            var sortedList = await Service.SortByColumn(column, "ASC");
            if (sortedList != null)
            {
                employees = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
        else
        {
            var sortedList = await Service.SortByColumn(column, "DESC");
            if (sortedList != null)
            {
                employees = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
    }

    private async Task SearchByEmployeeName()
    {
        employees = employees
            .Where(p => p.FullName.Contains(EmployeeName));
        UpdatePagedData();
    }

    private async Task SearchByLicense()
    {
        employees = employees
            .Where(p => p.LicenseNumber.Contains(License));
        UpdatePagedData();
    }

    private async Task SearchBySpecialization()
    {
        employees = employees
            .Where(p => p.Specialization.Contains(Specialization));
        UpdatePagedData();
    }
}