@page "/medications"
@inherits OwningComponentBase<IMedicationRepository>
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Medications</PageTitle>

<div class="d-flex justify-content-between pb-5">
    <h1>Медикаменты</h1>
    <button type="button" class="btn btn-dark"
    data-bs-toggle="modal"
    data-bs-target="#medicationModal">
        <i class="bi bi-plus-lg"></i>
        Добавить
    </button>
    <div class="modal fade" id="medicationModal" tabindex="-1" aria-labelledby="medicationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="medicationModalLabel">Сведения о медикаменте</h5>
                </div>
                <EditForm Model="ModelMedication" OnValidSubmit="InsertObjAsync" FormName="MedicationForm">
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Название</td>
                                <td><InputText class="form-control" @bind-Value="ModelMedication!.Name" /></td>
                            </tr>
                            <tr>
                                <td>Производитель</td>
                                <td><InputText class="form-control" @bind-Value="ModelMedication!.Manufacturer" /></td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td><InputNumber class="form-control" @bind-Value="ModelMedication!.Price" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-black" data-bs-dismiss="modal" @onclick="Discard">Закрыть</button>
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Сохранить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@if (medications == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex p-2">
        <label for="Name" class="form-label">Поиск по названию</label>
        <input class="form-control" id="Name" placeholder="Введите название..." @bind="Name" @bind:event="oninput" @bind:after="SearchByName">
        <label for="Manufacturer" class="form-label">Поиск по производителям</label>
        <input class="form-control" id="Manufacturer" placeholder="Введите производителя..." @bind="Manufacturer" @bind:event="oninput" @bind:after="SearchByManufacturer">
    </div>
    <table class="table border">
        <thead>
            <tr>
                @foreach (var head in headers)
                {
                    <th>
                        <button class="btn" @onclick="@(async () => await SortByColumnHead(head))">
                            @head
                            @if (currentSortColumn == head)
                            {
                                <span>@(sorted ? "↑" : "↓")</span>
                            }
                        </button>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var medication in pagedmedications)
            {
                <tr @key="medication.MedicationId">
                    <td class="align-middle">@medication.MedicationId</td>
                    <td class="align-middle">@medication.Name</td>
                    <td class="align-middle">@medication.Manufacturer</td>
                    <td class="align-middle">@medication.Price<span> ₽</span></td>
                    <td>
                        <button
                        type="button"
                        @onclick="@(async () => await DetailsObjAsync(medication.MedicationId))"
                        class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#medicationModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button
                        type="button"
                        @onclick="@(async () => await DeleteObjAsync(medication.MedicationId))"
                        class="btn trash">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">Предыдущая</button>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                var page = i;
                <li class="page-item @(currentPage == page ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(page)">@i</button>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">Следующая</button>
            </li>
        </ul>
    </nav>
}

@code {
    private IEnumerable<Entities.Medication>? medications;
    private IEnumerable<Medication>? pagedmedications;
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalPages;
    private List<string> headers = ["ID", "Название", "Производитель", "Цена", "Действия"];
    [SupplyParameterFromForm(FormName = "MedicationForm")]
    public Entities.Medication? ModelMedication { get; set; }
    private bool sorted;
    private string currentSortColumn;

    private string Name = "";
    private string Manufacturer = "";

    protected override async Task OnInitializedAsync()
    {
        ModelMedication ??= new();
        ModelMedication!.MedicationId = 0;
        medications = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void Discard()
    {
        ModelMedication = new();
    }
    private async Task InsertObjAsync()
    {
        if (!IsAnyNullOrEmpty(ModelMedication))
        {
            if (ModelMedication!.MedicationId == 0) { await Service.AddAsync(ModelMedication); }
            else { await Service.UpdateAsync(ModelMedication); }
            medications = await Service.GetAllAsync();
            UpdatePagedData();
        }
        
        Discard();
    }

    private async Task DetailsObjAsync(int Id)
    {
        ModelMedication = await Service.GetByIdAsync(Id);
    }

    private async Task DeleteObjAsync(int Id)
    {
        await Service.DeleteAsync(Id);
        medications = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void UpdatePagedData()
    {
        totalPages = (int)Math.Ceiling((double)medications.Count() / pageSize);
        if (currentPage < 1) currentPage = 1;
        if (currentPage > totalPages) currentPage = totalPages;

        int startIndex = (currentPage - 1) * pageSize;
        pagedmedications = medications.Skip(startIndex).Take(pageSize);
    }

    private void ChangePage(int newPage)
    {
        currentPage = newPage;
        UpdatePagedData();
    }

    private async Task SortByColumnHead(string column)
    {
        currentSortColumn = column;
        if (!sorted)
        {
            var sortedList = await Service.SortByColumn(column, "ASC");
            if (sortedList != null)
            {
                medications = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
        else
        {
            var sortedList = await Service.SortByColumn(column, "DESC");
            if (sortedList != null)
            {
                medications = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
    }

    private async Task SearchByName()
    {
        medications = medications
            .Where(p => p.Name.Contains(Name));
        UpdatePagedData();
    }

    private async Task SearchByManufacturer()
    {
        medications = medications
            .Where(p => p.Manufacturer.Contains(Manufacturer));
        UpdatePagedData();
    }
}
