@page "/patients"
@inherits OwningComponentBase<IPatientRepository>
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Patients</PageTitle>

<div class="d-flex justify-content-between pb-5">
    <h1>Пациенты</h1>
    <button type="button" class="btn btn-dark"
    data-bs-toggle="modal"
    data-bs-target="#patientModal">
        <i class="bi bi-plus-lg"></i>
        Добавить
    </button>
    <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="patientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="patientModalLabel">Сведения о пациенте</h5>
                </div>
                <EditForm Model="ModelPatient" OnValidSubmit="InsertObjAsync" FormName="PatientForm">
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>ФИО</td>
                                <td><InputText class="form-control" @bind-Value="ModelPatient!.FullName" /></td>
                            </tr>
                            <tr>
                                <td>Дата рождения</td>
                                <td><InputDate class="form-control" @bind-Value="ModelPatient!.BirthDate" /></td>
                            </tr>
                            <tr>
                                <td>Пол</td>
                                <td>
                                    <InputSelect class="form-select form-select-sm w-auto"
                                    @bind-Value="ModelPatient!.Gender">
                                        <option value="М">М</option>
                                        <option value="Ж">Ж</option>
                                    </InputSelect>
                                </td>
                            </tr>
                            <tr>
                                <td>Паспорт</td>
                                <td><InputText class="form-control" @bind-Value="ModelPatient!.PassportNumber" /></td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td><InputText class="form-control" @bind-Value="ModelPatient!.Phone" /></td>
                            </tr>
                            <tr>
                                <td>Почта</td>
                                <td><InputText class="form-control" type="email" @bind-Value="ModelPatient!.Email" /></td>
                            </tr>
                            <tr>
                                <td>Адрес</td>
                                <td><InputText class="form-control" @bind-Value="ModelPatient!.Address" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-black" data-bs-dismiss="modal" @onclick="Discard">Закрыть</button>
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Сохранить</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@if (patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table border">
        <thead>
            <tr>
                @foreach (var head in headers)
                {
                    <th>
                        <button class="btn" @onclick="@(async () => await SortByColumnHead(head))">
                            @head
                            @if (currentSortColumn == head)
                            {
                                <span>@(sorted ? "↑" : "↓")</span>
                            }
                        </button>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in pagedPatients)
            {
                <tr @key="patient.PatientId">
                    <td class="align-middle">@patient.PatientId</td>
                    <td class="align-middle">@patient.FullName</td>
                    <td class="align-middle">@patient.BirthDate</td>
                    <td class="align-middle">@patient.Gender</td>
                    <td class ="align-middle">@patient.PassportNumber</td>
                    <td class="align-middle">@patient.Phone</td>
                    <td class="align-middle">@patient.Email</td>
                    <td class="align-middle">@patient.Address</td>
                    <td>
                        <button
                        type="button"
                        @onclick="@(async () => await DetailsObjAsync(patient.PatientId))"
                        class="btn"
                        data-bs-toggle="modal"
                        data-bs-target="#patientModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button
                        type="button"
                        @onclick="@(async () => await DeleteObjAsync(patient.PatientId))"
                        class="btn trash">
                            <i class="bi bi-trash text-danger"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">Предыдущая</button>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                var page = i;
                <li class="page-item @(currentPage == page ? "active" : "")">
                    <button class="page-link" @onclick="() => ChangePage(page)">@i</button>
                </li>
            }
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">Следующая</button>
            </li>
        </ul>
    </nav>
}

@code {
    private IEnumerable<Patient>? patients;
    private IEnumerable<Patient>? pagedPatients;
    private int currentPage = 1;
    private int pageSize = 10;
    private int totalPages;
    private List<string> headers = ["ID", "ФИО", "Дата рождения", "Пол", "Паспорт", "Телефон", "Почта", "Адрес", "Действия"];
    [SupplyParameterFromForm(FormName = "PatientForm")]
    public Patient? ModelPatient { get; set; }
    private bool sorted;
    private string currentSortColumn;

    protected override async Task OnInitializedAsync()
    {
        ModelPatient ??= new();
        ModelPatient!.PatientId = 0;
        patients = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void Discard()
    {
        ModelPatient = new();
    }
    private async Task InsertObjAsync()
    {
        if (!IsAnyNullOrEmpty(ModelPatient))
        {
            if (ModelPatient!.PatientId == 0)
            {
                await Service.AddAsync(ModelPatient);
            }
            else { await Service.UpdateAsync(ModelPatient); }
            patients = await Service.GetAllAsync();
            UpdatePagedData();
        }
        patients = await Service.GetAllAsync();
        Discard();
    }

    private async Task DetailsObjAsync(int Id)
    {
        ModelPatient = await Service.GetByIdAsync(Id);
    }

    private async Task DeleteObjAsync(int Id)
    {
        await Service.DeleteAsync(Id);
        patients = await Service.GetAllAsync();
        UpdatePagedData();
    }

    private void UpdatePagedData()
    {
        totalPages = (int)Math.Ceiling((double)patients.Count() / pageSize);
        if (currentPage < 1) currentPage = 1;
        if (currentPage > totalPages) currentPage = totalPages;

        int startIndex = (currentPage - 1) * pageSize;
        pagedPatients = patients.Skip(startIndex).Take(pageSize);
    }

    private void ChangePage(int newPage)
    {
        currentPage = newPage;
        UpdatePagedData();
    }

    private async Task SortByColumnHead(string column)
    {
        currentSortColumn = column;
        if (!sorted)
        {
            var sortedList = await Service.SortByColumn(column, "ASC");
            if (sortedList != null)
            {
                patients = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
        else
        {
            var sortedList = await Service.SortByColumn(column, "DESC");
            if (sortedList != null)
            {
                patients = sortedList;
                sorted = !sorted;
                UpdatePagedData();
            }
        }
    }
}
